aura_model/*
ignore/*
tutorial_model/wiki.simple.vec
tutorial_model/nltk_data
tutorial_model/data.tar.gz
tutorial_model/freqs.json
tutorial_model/data_files/*
tutorial_model/save/*
tutorial_model/prev_runs/*
tutorial_model/synth_generation/nltk_data/*
__pycache__
tf_serv_save
